################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlipperZeroFR/CopilotIndices/0.2.1648.49400
/.vs/FlipperZeroFR/FileContentIndex
/.vs
